:host {
    position: absolute;
    width: 100%;
    z-index: 999; // 999가 넘어면 cdk-overlay-container 가 10000 이므로 클릭이 활성화 된다.
    header {
        height: 40px;
        box-sizing: border-box;
        // background-color: #222428;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 0 10px;
        .title {
            img {width: 25px; height: 25px; border-radius: 50%;}
        }

        .end {
            mat-icon {
                width: 24px;
                height: 24px;
                margin-right: 20px;
            }
            a {
                color: white;
            }
        }
    }
}

