.container {
    &.games {
        margin-top: 50px;
        color: #fff;
        width: 100% !important;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        height: calc(100% - 180px);
        overflow: scroll;

        .header {
            .title {
                font-size: 2em;
            }
        }
        ul {
            padding: 0px;
            width: 90%;

            li {
                list-style: none;
                margin: 0px;
                padding: 0px;
                display: flex;
                align-items: center;
                    border: 1px solid gray;
                margin-bottom: 20px;
                .image {
                    height: 54px;
                    img {
                        width: 50px;
                        height: 50px;
                        padding: 2px;
                        border-radius: 10px;
                    }
                }
                .title {
                    margin-left: 20px;

                }

            }
        }
    }
}